In [5]:
import pandas as pd
csv_file_path = "C:\Users\hp\Documents\netflix_titles.csv"
df = pd.read_csv("C:\Users\hp\Documents\netflix_titles.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (202853986.py, line 2)

In [6]:
import pandas as pd
df = pd.read_csv(r'C:\Users\hp\Downloads\netflix_titles.csv')
print(df)

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

     date_added  release_year rating   duration  \
0     25-Sep-21          2020  PG-13     90 min
1     24-Sep-21          2021  TV-MA  2 Seasons
2     24-Sep-21          2021  TV-MA   1 Season
3     24-Sep-21          2021  TV-MA   1 Season
4     24-Sep-21          2021  TV-MA  2 Seasons
...         ...           ...    ...        ...
8802  20-Nov-19          2007      R    158 min
8803   1-Jul-19          2018  TV-Y7  2 Seasons
8804   1-Nov-19          2009      R     88 min
8805  11-Jan-20          2006     PG     88 min
8806   2-Mar-19          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

In [8]:
df = df.drop_duplicates()
print(df)

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

     date_added  release_year rating   duration  \
0     25-Sep-21          2020  PG-13     90 min
1     24-Sep-21          2021  TV-MA  2 Seasons
2     24-Sep-21          2021  TV-MA   1 Season
3     24-Sep-21          2021  TV-MA   1 Season
4     24-Sep-21          2021  TV-MA  2 Seasons
...         ...           ...    ...        ...
8802  20-Nov-19          2007      R    158 min
8803   1-Jul-19          2018  TV-Y7  2 Seasons
8804   1-Nov-19          2009      R     88 min
8805  11-Jan-20          2006     PG     88 min
8806   2-Mar-19          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

In [9]:
df = df.dropna()
print(df)

     show_id     type                          title             director  \
7         s8    Movie                        Sankofa         Haile Gerima
8         s9  TV Show  The Great British Baking Show      Andy Devonshire
9        s10    Movie                   The Starling       Theodore Melfi
12       s13    Movie                   Je Suis Karl  Christian Schwochow
24       s25    Movie                          Jeans           S. Shankar
...      ...      ...                            ...                  ...
8801   s8802    Movie                        Zinzana      Majid Al Ansari
8802   s8803    Movie                         Zodiac        David Fincher
8804   s8805    Movie                     Zombieland      Ruben Fleischer
8805   s8806    Movie                           Zoom         Peter Hewitt
8806   s8807    Movie                         Zubaan          Mozez Singh

                                                   cast  \
7     Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8     Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9     Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
12    Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
24    Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...
...                                                 ...
8801  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                                                country date_added  \
7     United States, Ghana, Burkina Faso, United Kin...  24-Sep-21
8                                        United Kingdom  24-Sep-21
9                                         United States  24-Sep-21
12                              Germany, Czech Republic  23-Sep-21
24                                                India  21-Sep-21
...                                                 ...        ...
8801                       United Arab Emirates, Jordan   9-Mar-16
8802                                      United States  20-Nov-19
8804                                      United States   1-Nov-19
8805                                      United States  11-Jan-20
8806                                              India   2-Mar-19

      release_year rating   duration  \
7             1993  TV-MA    125 min
8             2021  TV-14  9 Seasons
9             2021  PG-13    104 min
12            2021  TV-MA    127 min
24            1998  TV-14    166 min
...            ...    ...        ...
8801          2015  TV-MA     96 min
8802          2007      R    158 min
8804          2009      R     88 min
8805          2006     PG     88 min
8806          2015  TV-14    111 min

                                             listed_in  \
7     Dramas, Independent Movies, International Movies
8                         British TV Shows, Reality TV
9                                     Comedies, Dramas
12                        Dramas, International Movies
24     Comedies, International Movies, Romantic Movies
...                                                ...
8801           Dramas, International Movies, Thrillers
8802                    Cult Movies, Dramas, Thrillers
8804                           Comedies, Horror Movies
8805                Children & Family Movies, Comedies
8806    Dramas, International Movies, Music & Musicals

                                            description
7     On a photo shoot in Ghana, an American model s...
8     A talented batch of amateur bakers face off in...
9     A woman adjusting to life after a loss contend...
12    After most of her family is murdered in a terr...
24    When the father of the man she loves insists t...
...                                                 ...
8801  Recovering alcoholic Talal wakes up inside a s...
8802  A political cartoonist, a crime reporter and a...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[5336 rows x 12 columns]

In [10]:
df['year_interval'] = ((df['years'] - 1925) // 10) * 10 + 1925
print df()

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (2491896510.py, line 2)

In [11]:
df["year_interval"] = ((df ["years"] - 1925 // 10) * 10) + 1925

KeyError: 'years'

In [14]:
n_by_year = df.groupby(["year"])["last_name"].count()
type(n_by_year)

KeyError: 'year'

In [15]:
import pandas as pd
df = pd.read_csv(r'C:\Users\hp\Downloads\netflix_titles.csv')
print(df)

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

     date_added  release_year rating   duration  \
0     25-Sep-21          2020  PG-13     90 min
1     24-Sep-21          2021  TV-MA  2 Seasons
2     24-Sep-21          2021  TV-MA   1 Season
3     24-Sep-21          2021  TV-MA   1 Season
4     24-Sep-21          2021  TV-MA  2 Seasons
...         ...           ...    ...        ...
8802  20-Nov-19          2007      R    158 min
8803   1-Jul-19          2018  TV-Y7  2 Seasons
8804   1-Nov-19          2009      R     88 min
8805  11-Jan-20          2006     PG     88 min
8806   2-Mar-19          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

In [17]:
df = df.dropna()
print (df)

     show_id     type                          title             director  \
7         s8    Movie                        Sankofa         Haile Gerima
8         s9  TV Show  The Great British Baking Show      Andy Devonshire
9        s10    Movie                   The Starling       Theodore Melfi
12       s13    Movie                   Je Suis Karl  Christian Schwochow
24       s25    Movie                          Jeans           S. Shankar
...      ...      ...                            ...                  ...
8801   s8802    Movie                        Zinzana      Majid Al Ansari
8802   s8803    Movie                         Zodiac        David Fincher
8804   s8805    Movie                     Zombieland      Ruben Fleischer
8805   s8806    Movie                           Zoom         Peter Hewitt
8806   s8807    Movie                         Zubaan          Mozez Singh

                                                   cast  \
7     Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...
8     Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...
9     Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...
12    Luna Wedler, Jannis Niewöhner, Milan Peschel, ...
24    Prashanth, Aishwarya Rai Bachchan, Sri Lakshmi...
...                                                 ...
8801  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...

                                                country date_added  \
7     United States, Ghana, Burkina Faso, United Kin...  24-Sep-21
8                                        United Kingdom  24-Sep-21
9                                         United States  24-Sep-21
12                              Germany, Czech Republic  23-Sep-21
24                                                India  21-Sep-21
...                                                 ...        ...
8801                       United Arab Emirates, Jordan   9-Mar-16
8802                                      United States  20-Nov-19
8804                                      United States   1-Nov-19
8805                                      United States  11-Jan-20
8806                                              India   2-Mar-19

      release_year rating   duration  \
7             1993  TV-MA    125 min
8             2021  TV-14  9 Seasons
9             2021  PG-13    104 min
12            2021  TV-MA    127 min
24            1998  TV-14    166 min
...            ...    ...        ...
8801          2015  TV-MA     96 min
8802          2007      R    158 min
8804          2009      R     88 min
8805          2006     PG     88 min
8806          2015  TV-14    111 min

                                             listed_in  \
7     Dramas, Independent Movies, International Movies
8                         British TV Shows, Reality TV
9                                     Comedies, Dramas
12                        Dramas, International Movies
24     Comedies, International Movies, Romantic Movies
...                                                ...
8801           Dramas, International Movies, Thrillers
8802                    Cult Movies, Dramas, Thrillers
8804                           Comedies, Horror Movies
8805                Children & Family Movies, Comedies
8806    Dramas, International Movies, Music & Musicals

                                            description
7     On a photo shoot in Ghana, an American model s...
8     A talented batch of amateur bakers face off in...
9     A woman adjusting to life after a loss contend...
12    After most of her family is murdered in a terr...
24    When the father of the man she loves insists t...
...                                                 ...
8801  Recovering alcoholic Talal wakes up inside a s...
8802  A political cartoonist, a crime reporter and a...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[5336 rows x 12 columns]

In [19]:
import pandas as pd
df = pd.read_csv(r'C:\Users\hp\Downloads\netflix_titles.csv')
print(df)

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water              NaN
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans              NaN
4         s5  TV Show           Kota Factory              NaN
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb              NaN
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                   NaN  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...            NaN
3                                                   NaN            NaN
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                                NaN            NaN
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

     date_added  release_year rating   duration  \
0     25-Sep-21          2020  PG-13     90 min
1     24-Sep-21          2021  TV-MA  2 Seasons
2     24-Sep-21          2021  TV-MA   1 Season
3     24-Sep-21          2021  TV-MA   1 Season
4     24-Sep-21          2021  TV-MA  2 Seasons
...         ...           ...    ...        ...
8802  20-Nov-19          2007      R    158 min
8803   1-Jul-19          2018  TV-Y7  2 Seasons
8804   1-Nov-19          2009      R     88 min
8805  11-Jan-20          2006     PG     88 min
8806   2-Mar-19          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

In [20]:
print(df['title'])

0        Dick Johnson Is Dead
1               Blood & Water
2                   Ganglands
3       Jailbirds New Orleans
4                Kota Factory
                ...
8802                   Zodiac
8803              Zombie Dumb
8804               Zombieland
8805                     Zoom
8806                   Zubaan
Name: title, Length: 8807, dtype: object

In [25]:
c

title
#Alive                           1
#AnneFrank - Parallel Stories    1
#FriendButMarried                1
#FriendButMarried 2              1
#Roxy                            1
                                ..
忍者ハットリくん                         1
海的儿子                             1
마녀사냥                             1
반드시 잡는다                          1
최강전사 미니특공대 : 영웅의 탄생              1
Length: 8804, dtype: int64

In [27]:
grouped_sums = df.groupby('title')['rating'].count()
print(grouped_sums)

title
#Alive                           1
#AnneFrank - Parallel Stories    1
#FriendButMarried                1
#FriendButMarried 2              1
#Roxy                            1
                                ..
忍者ハットリくん                         1
海的儿子                             1
마녀사냥                             1
반드시 잡는다                          1
최강전사 미니특공대 : 영웅의 탄생              1
Name: rating, Length: 8804, dtype: int64

In [28]:
group_by_title = df.groupby('title').size()
print(group_by_title)

title
#Alive                           1
#AnneFrank - Parallel Stories    1
#FriendButMarried                1
#FriendButMarried 2              1
#Roxy                            1
                                ..
忍者ハットリくん                         1
海的儿子                             1
마녀사냥                             1
반드시 잡는다                          1
최강전사 미니특공대 : 영웅의 탄생              1
Length: 8804, dtype: int64

In [29]:
average_rating = group_by_title['rating'].mean()
print(average_rating)

KeyError: 'rating'

In [31]:
group_by_year = df.groupby('year').count()
print(group_by_year)

KeyError: 'year'

In [37]:
group_by_release_year = df.groupby('release_year').size()
print(group_by_release_year)
group_by_release_year.to_csv('group_by_release_year.csv', header=True)

release_year
1925       1
1942       2
1943       3
1944       3
1945       4
        ...
2017    1032
2018    1147
2019    1030
2020     953
2021     592
Length: 74, dtype: int64